<div class="container1">
<div class="head">
  <div class="comp-name">
    <img id="logo" src="/assets/image/download.png">
    <p class="label">
      Ania's <br>
      Salon
    </p>
    </div>
      <ul>

        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/services">Services</a></li>
        <li><a class="link1" routerLink="/register">Sign Up</a></li>
        <li><a class="link1" routerLink="login">Login</a></li>
        <li><a class="link1" routerLink="logout">Log Out</a></li>
        
      </ul>
      </div>
    
</div>
