<div class="contact-container">
  <div class="b0x">
    <div class="box1">
     <h1>Contact-Us</h1>
     <br>
    <p id="note">
      Curious about our services or have a special request? Reach out to us, we're excited to connect 
      and bring your hair dreams to life.
    </p>

   </div>
   <div class="box2">
    <h2>Info</h2>
    <div class="social1">
      <img src="/assets/image/facebook.png">
      <p id="p1">
        Facebook: itzania_salon
      </p>

    </div>
    <br>
    <div class="social2">
      <img src="/assets/image/twitter.avif">
      <p>
        Twitter: @aniasalon
      </p>
        
    </div>
    <br>
    <div class="social3">
      <img src="/assets/image/instagram.jpeg">
      <p>
        Instagram: .ania_salon
      </p>
        
    </div>
    <br>
    <div class="social4">
      <img src="/assets/image/whatsapp.webp">
      <p>
        Whatsapp: 876-548-2435
      </p>
        
    </div>
    <br>
    <hr>
    <p>
      Need Assistance? Please Call
    </p>
      <div class="num">
        <a href="/contact">876-321-2453</a>
      </div>
        
   </div>


  </div>
</div>
   











      <!-- <div class="info">
        <h2>Contact Us</h2>
        <p id="note">
          Curious about our services or have a special request? Reach out to us—we're excited to connect 
          and bring your hair dreams to life
        </p>
    </div>
    </div>
    
     -->
    
    
    
    
    
    
    
    
    
    
    <!-- <div class="info1"> -->
      
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
  <!-- <br>
    <hr>
    <img id="photo1" src="/assets/image/braid.jpg">
    <img id="photo2" src="/assets/image/wig.jpg">
    <img id="photo3" src="/assets/image/ponytail.webp"> -->
    <!-- <div class="b0x">
    <h1>Contact Us</h1>
    <form (submit)="submitForm()">

      <div class="form-group">
        <label for="name"> Name:</label>
        <input type="text" id="name" name="name"  required>
      </div>

      <div class="form-group">
        <label for="cell number">Cell number:</label>
        <input type="cell number" id="cell number" name="cell number"  required>
      </div> -->
      <!-- <div class="form-group">
        <label for="time">Time:</label>
        <input type="time" id="time" name="time"  required>
      </div>
      <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date"  required>
      </div>

      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="What service would you like? eg. braids, wigs, locs etc" required></textarea>
      </div>

      <button type="submit">Submit</button>
    </form>  -->
    <!-- <br>
    <hr>
    <img id="photo1" src="/assets/image/braid.jpg">
    <img id="photo2" src="/assets/image/wig.jpg">
    <img id="photo3" src="/assets/image/ponytail.webp">
</div> -->
<!-- </div> -->