<footer>
<div class="footerContainer">
    <div class="foot">
        <div class="comp-name">
          <img id="logo" src="/assets/image/download.png">
          <p class="label">
            Ania's <br>
            Salon
          </p>
          </div>
        <p class="font">
            At Ania's Hair Salon, we're not just in the business  
            of hair, we're in the business of confidence.we believe in the transformative power of a great hairstyle. 
            Step into our salon and experience the blend of expertise, creativity, and personalized service that sets us apart. 
            </p>
    </div>
    <div class="content">
        <div class="social-box">
    <div class="socialIcons">
        <img class="face" src="/assets/image/facebook.png">
       
        <div class="socialnames">
            <h2>itzania_salon</h2>

        </div>
    </div>

    <div class="socialIcons">
        <img class="face" src="/assets/image/twitter.avif">
        <div class="socialnames">
            <h2>@aniasalon</h2>
        </div>
    </div>

    <div class="socialIcons">
        <img class="face" src="/assets/image/instagram.jpeg">
        <div class="socialnames">
            <h2>.ania_salon</h2>
        </div>
    </div>
</div>
    <hr>
    <div class="footerNav">
        <ul>
            <li><a routerLink="/home">Admin</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact Us</a></li>
            <li><a routerLink="/services">Our Services</a></li>
        </ul>
    </div>
    </div>

<div class="last-container">
    <h2 class="loc">Our Location</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3789.581012279344!2d-78.14191492504445!3d18.22916798280876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ed96fc400000013%3A0x2458d7c555fa91ff!2sChantilly%20Garden%20Jamaica!5e0!3m2!1sen!2sjm!4v1715802459454!5m2!1sen!2sjm" width="380" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

</div>
<div class="footerBottom">
    <p>Copyright &copy;2024; Designed by <span class="designer">Ania</span></p>
</div>
</footer>