<div class="admin-container">
    <div class="b0x">
    
    <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" class="form">
    <h1>LOGIN</h1>

    <p *ngIf="hasError">
        {{errorMessage}}
        </p>
    
    <input type="email" name="email" class="box" placeholder="Enter Username" ngModel>
    
    <input type="text" name="password" class="box" placeholder="Enter Password" ngModel>
    
    
    <input type="submit" value="LOGIN" id="submit">
    <br>
    <br>
    <br>
    <div class="account">
        <h5>Don't Have An Account - <a routerLink="/register"> Sign Up Here ?</a></h5>
        <br>
    </div>

    <div class="return">
        <a routerLink="/contact">&larr;<h3>Return</h3></a>
    </div>
</form>
</div>
<br>
<br>
<br>
</div>
    