<div class="service">
    <img class="srv" src="/assets/image/decor-ideas.jpg">
<br>    
    <h1>"Our Service"</h1>
    <br>
    <br>
    
    <p class="pro">
        Are you ready to transform your hair into a work of art? <br>
        Look no further than Ania's Salon! <br>
        Our team of skilled stylists is dedicated to providing you with the ultimate salon experience.
    </p>

  

    <button type="button" style="--clr:#2e353b" class="btn btn-outline-secondary"><a routerLink="/about">LEARN MORE!</a></button>
    <br>
    <br>
    <div class="top">
        <img class="image" src="/assets/image/long-braids.webp">
        <div class="info">
        <h2>Braid Your Way to Stunning Hair:<br>Expert Braiding Services Await!</h2>
        <br>
        <br>
        <p class="par">
        Elevate your hairstyle with our exquisite braiding techniques, turning heads <br>with every twist and turn. 
        From intricate updos to trendy boho braids, <br>let us craft the perfectlook that speaks volumes of your style. <br>
        With our skilled hands and keen eye for detail,we <br>bring your hair dreams to life, ensuring each braid is a reflection 
        of your <br>unique personality. Step into our salon and discover <br>the endless possibilities that await you in the world of braided beauty.
    </p>
</div>
    
</div>

<div class="top1">
    <div class="info1">
    <h3>Embrace Your Natural Beauty: <br> Expert Styling for Gorgeous, Healthy Hair</h3>
    <br>
        <br>
        <p class="part">
            Celebrate the beauty of your natural hair with our specialized styling services,  <br>
            designed to enhance and showcase your unique texture. <br>Our expert stylists are dedicated to creating stunning, 
            healthy looks that embrace <br> your natural curls and coils. From defined twist-outs to voluminous afros, <br> we offer 
            personalized styles that reflect your individuality and flair. <br> 
            Experience the confidence and beauty of natural hair at its finest, and let us help you shine.
        </p>
    </div>
        <img class="image1" src="/assets/image/another-natural2.jpg">
    
</div>

    <div class="top2">
<img class="image2" src="/assets/image/wig-style.jpg">
        <div class="info2">
<h4>Unlock Your Beauty Potential: Custom Wigs, <br> Seamless Sew-Ins, and Luxurious <br>Extensions</h4>
    <br>
    <br>
    <p class="parts">
        Unlock a world of style possibilities with our premium wigs, extensions, and sew-in hairstyles, 
        crafted for  a seamless and natural look. Our skilled stylists provide expert installation and customization, 
        ensuring each piece enhances your beauty and fits perfectly. Whether you desire length, volume, or a complete 
        transformation, our high-quality hair solutions offer endless versatility. Experience the confidence and 
        allure of gorgeous, easy-to-maintain hair that turns heads wherever you go
    </p>
    
</div>

</div>
<br>
<br>
<br>
</div>
