<div class="home">
    <div class="image-container">
    <img class="photo" src="https://i.pinimg.com/736x/52/43/8f/52438ff39cc93463e4a78ecd9d7ac82d.jpg">
    <p class="para">
        "Transforming Hair, Transforming You" 
    </p>
    <br>
    <p class="para1">
        Ania's Salon 
    </p>
    <button routerLink="/login" type="button" style="--clr:#948979" class="btn ">Book Appointment</button>
    <a >Book Appointment</a>
</div>

<div class="info-container">
   <p class="info">
    At Ania's Hair Salon, we believe every strand tells a story.
       Step in for expert care and leave with a tale of 
       transformation.
   </p>
</div> 
    
  <div class="flip-box">
      <div class="nt">
        <div class="flip-box-front">
          <img src="/assets/image/wedd.jpg" alt="Paris" width="80%" height="500px">
       
        </div>
        <p class="note1">
        At Ania's Hair Salon, we offer a range of services <br>
        including precision cuts, vibrant coloring, luxurious <br>
        treatments, stylish blowouts, detailed braiding, <br>
        and natural styles to bring your hair dreams to life.
      </p>

      </div>
    </div>
  </div>

  <div class="box4">
    <h2 class="test">Our Clients Testimonials</h2>
   <div class="review-cards">
      <div class="r-card">
         <div class="img-area">
            <img class="pro" src="/assets/image/r1.webp" >
         </div>
          <h2 class="main">Sheron M.</h2><br>
          <div class="box-info">
             <p class="review">
               “I had a great experience as a walk-in when my appointment at another salon fell through. 
               Stacy greeted me warmly and gave me an exceptional haircut and style, complete with tips on how to replicate the look at home. 
               I highly recommend this salon for its friendly and professional service.”
             </p>
             <br>
             <!-- <br> -->
             
             
             <div class="rating">
               <span class="active">&#9733;</span>
               <span class="active">&#9733;</span>
               <span class="active">&#9733;</span>
               <span class="active">&#9733;</span>
               <span class="active">&#9733;</span>
               
               <p class="rt">Reviewed on 03/01/2024</p>
             </div>
          </div>
      </div>

      <div class="r-card">
        <div class="img-area">
         <img class="pro" src="/assets/image/r2.jpg" >
        </div>
        <h2 class="main">Kathy G.</h2><br>
        <div class="box-info">
           <p class="review">“Was impressed with the hospitality and quality of service despite being a walk-in. 
            The owner and stylists made him feel welcome and he was pleasantly surprised by the end result. 
            He recommends the salon for its quality and service."
           </p>
          <br>
          <br>
          <br>
           <div class="rating">
             <span class="active">&#9733;</span>
             <span class="active">&#9733;</span>
             <span class="active">&#9733;</span>
             <span class="active">&#9733;</span>
             <span >&#9733;</span>
             
             <p class="rt">Reviewed on 18/04/2024</p>
         </div>
        </div>
      </div>

      <div class="r-card">
        <div class="img-area">
         <img class="pro" src="/assets/image/r3.jpg" >
        </div>
        <h2 class="main">Andrea R.</h2><br>
        <div class="box-info">
           <p class="review">“Praises Shea for an incredible job with her cut and color, especially dealing with her hair's tendency 
            to turn brassy. Despite some initial scheduling issues, the quality of Shea’s work made it worth the visit.”
           </p>
           <br>
           <br>
           <br>
           <br>
           <div class="rating">
               <span class="active">&#9733;</span>
               <span class="active">&#9733;</span>
               <span class="active">&#9733;</span>
               <span class="active">&#9733;</span>
               <span >&#9733;</span>
               <p class="rt">Reviewed on 04/05/2024</p>
             </div>
        </div>
      </div>
   </div>
</div>
