<div class="container1">
    <h1 class="topic">ABOUT US</h1>
        <div class="content">
    <div class="info">
        <img class="box" src="/assets/image/about-mainimg.jpg">
    </div>
    
        <p class="note">
            Welcome to Ania's Salon, where every strand tells a story of beauty and empowerment. Nestled in the heart of Savanna la mar, 
            our salon is more than just a place to get your hair done—it's a destination where style meets sophistication. 
            Founded by Ania with a vision to create a space where clients can discover their true beauty, Ania's Salon is dedicated
            to providing exceptional service in a welcoming and inclusive environment. Our team of talented stylists is passionate about 
            helping you look and feel your best, whether you're seeking a trendy new look or a timeless classic.
            <br> <br>
            At Ania's Salon, we understand that your hair is a reflection of your unique personality and style. That's why we take the 
            time to listen to your needs and preferences, ensuring that every visit is tailored to you. From precision cuts to stunning 
            color transformations, we specialize in creating customized looks that enhance your natural beauty and boost your confidence. 
            Step into Ania's Salon and embark on a journey of self-discovery, where each appointment is an opportunity to embrace your 
            individuality and shine bright.
        </p>
    </div>

    <div class="mid">
        <ul>
            <li><img class="client" src="/assets/image/client.webp"><br> Clients 300+</li>
            <li><img class="success" src="/assets/image/thumpsup.jpg"><br>Success Story 250+</li>
            <li><img class="stylist" src="/assets/image/stylist.webp"><br>3 Experienced Stylist </li>
        </ul>

    </div>
    <div class="container1">
        <h1 class="topic1">Our mission</h1>
            <div class="content1">
        <div class="info1">
            <img class="box1" src="/assets/image/mision-img2.jpg">
        </div>
        
            <p class="note1">
                At Ania's Salon, our mission is to provide an extraordinary hair care experience that empowers our clients with 
                confidence and style. 
                <br><br> strive to exceed expectations through exceptional service, innovative techniques, and a warm, 
                welcoming atmosphere. 
                <br><br>Our team is passionate about creativity and continuous education, ensuring that each visit leaves 
                you feeling beautiful, refreshed, and valued.
            </p>
        </div>
        
        <div class="team">
            <p>
                Our Team
            </p> 
            
        </div>
        <div class="container3">
        <div class="cover">
        <div class="b0x1">
            <img class="face" src="/assets/image/stylist-amanda.jpeg" >
            <p class="amanda-intro">
                Rebecca Brown <br>
                28 years old
            </p>
            
            <div class="b0x2">
                <p>Hi, Rebecca here. I am a creative 28-year-old hair stylist with over 8 years of experience. 
                <br>I excel in modern cuts and vibrant coloring, always staying ahead of trends. <br>Known for my warm personality,
                 I ensure every client leaves feeling confident and beautiful.
                </p>
            </div>
            
        
    </div>
</div>
        <div class="cover">
        <div class="b0x1">
            <img class="face" src="/assets/image/stylist-new.jpg" >
            <p class="amanda-intro">
                Stacy Wilson <br>
                32 years old
            </p>
            
            <div class="b0x2">
                <p>Hey there, I'm Stacy. I am a talented 32-year-old hair stylist with a passion for braids and natural hair. 
                    With over a decade of experience, she excels in creating intricate braids and nurturing natural hair textures. 
                    Known for my friendly demeanor, I am dedicated to helping each client embrace their natural beauty.
                </p>
            </div>
            
        
    </div>
</div>
        <div class="cover">
        <div class="b0x1">
            <img class="face" src="/assets/image/stylist-terri.jpg" >
            <p class="amanda-intro">
                Kimone Smith <br>
                39 years old
            </p>
            
            <div class="b0x2">
                <p>Nice to meet you, I'm Kimone. I am a skilled 39-year-old hair stylist specializing in wigs, sew-ins, 
                    and extensions. With over 15 years of experience, I am now an expert in creating stunning transformations and 
                    enhancing natural beauty. Known for my meticulous attention to detail, I ensures every client leaves 
                    with flawless, voluminous hair that boosts their confidence.
                </p>
            </div>
        </div>
            
        
    </div>
</div>


</div>
</div>
